<% if current_page?(root_url) %>

<div class="jumbotron">
      <div class="container">
        <h1>Welcome to HR Vacation Booker!</h1>
        <p>To apply for Annual Leave please login with your account details.</p>
        <%= link_to "More About This App", welcome_about_path, class: 'btn btn-primary btn-lg' %>
       
      </div>
      
</div>
<% end %>
