<div class="row">
        <div class="col-md-4">
          <h2>Annual Leave</h2>
          <p>Apply for Annual Leave online. Please note that Annual Leave arrangements are to be approved by your line-manager. </p>
          <p><%= link_to "Reserve", vacations_path, class: 'btn btn-sm btn-success' %></p>
        </div>
        <div class="col-md-4">
          <h2>Employee Directory</h2>
          <p>Use our system to get the contact details of other team members across the organisation. </p>
          <p><%= link_to "Look Up", employees_path, class: 'btn btn-sm btn-success' %></p>
       </div>
        <div class="col-md-3">
          <h2>Support</h2>
          <p>If you have any issues or require technical support - our team of developers is only an email away. Click below to register a query with us.</p>
          <p><%= link_to "Support", contacts_path, class: 'btn btn-sm btn-success' %></p>
        </div>
</div>